.app {
  display: flex;
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1000px;
}

.vehicle-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1000px;
}

.trip-header {
  align-self: flex-start;
  font-size: 1.5em;
}

.trip-label {
  padding-right: 20px;
}

.trip-input {
  align-self: flex-start;
  padding: 10px 0;
}

.card {
  /* border: 1px solid grey; */
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: white;
  margin: 10px 0;
}

.selected-trip-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.vehicle-title {
  padding-top: 10px;
  padding-left: 10px;
}

.vehicle-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 5px;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.dashboard {
  overflow: overlay;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-container {
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2.5em;
  padding: 5px 0;
}

.month {
  font-size: medium;
  color: grey;
}

.miles {
  font-size: large;
  padding: 5px 0;
}

.target-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.target-overview {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40px;
  padding: 10px;
}

.target-text {
  align-self: flex-start;
  padding: 20px 0;
}

.target-filters {
  align-self: flex-start;
  padding: 5px 0;
}

.target-filters > select {
  margin-right: 20px;
}

.target-details {
  width: 70%;
}

.target-column {
  display: flex;
  flex-direction: column;
}

.target-column-left {
  width: 60%;
}

.target-column-right {
  width: 40%;
}

.target-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 0;
}

.target-summary {
  /* width: 33%; */
}

.target-summary-1 {
  width: 33%;
}

.target-summary-2 {
  width: 50%;
}

.target-label {
  font-size: 0.8em;
  padding-bottom: 5px;
  color: grey;
}

.target-data {
}

.target-capacity {
  width: 40%;
}

.target-savings {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
}

.target-savings-title {
  display: flex;
  /* align-self: center; */
  justify-content: center;
  /* align-content: center; */
  font-size: 1.2em;
  width: 100%;
  padding-bottom: 0.5em;
}

.target-savings-output-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 10px;
}

.target-savings-output {
  width: 50%;
}

.target-savings-amount {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}

.target-savings-label {
  display: flex;
  font-size: 0.8em;
  color: grey;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.benchmarking-container {
  display: flex;
  flex-direction: column;
}

.benchmarking-header {
}
