.app {
  display: flex;
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vehicle-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 30px;
}

.vehicle-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard {
  overflow: scroll;
  width: 100vw;
}
