.app {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.dashboard {
  overflow: overlay;
  width: 100vw;
  align-items: center;
}

.dashboard-title {
  font-size: 3em;
  padding: 1em 0;
}

.hr-style {
  border-top: 1px solid rgb(35, 48, 119);
  width: 80%;
}

.purple-text {
  color: rgb(142, 54, 236);
}

.blue-text {
  color: rgb(35, 48, 119);
}

.container {
  margin: 0;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1000px;
}

.vehicle-container {
  margin: 0;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1000px;
}

.trip-header {
  padding-top: 30px;
  align-self: flex-start;
  font-size: 1.5em;
}

.trip-label {
  padding-right: 20px;
}

.trip-input {
  align-self: flex-start;
  padding: 10px 0;
}

.card {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: white;
  margin-top: 10px;
}

.selected-trip-container {
  width: 100%;
}

.vehicle-title {
  padding-top: 10px;
  padding-left: 10px;
}

.vehicle-item {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 5px;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.month-container {
  width: 16%;
  align-items: center;
  height: 2.5em;
  padding: 5px 0;
}

.month {
  font-size: medium;
  color: grey;
}

.miles {
  font-size: large;
  padding: 5px 0;
}

.target-container {
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.target-overview {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40px;
  padding: 10px;
}

.target-text {
  align-self: flex-start;
  padding: 20px 0;
}

.target-filters {
  align-self: flex-start;
  padding: 5px 0;
}

.target-filters > select {
  margin-right: 20px;
}

.target-details {
  width: 70%;
}

.target-column {
  display: flex;
  flex-direction: column;
}

.target-column-left {
  width: 60%;
}

.target-column-right {
  width: 40%;
}

.target-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 0;
}

.target-summary-1 {
  width: 33%;
}

.target-summary-2 {
  width: 50%;
}

.target-label {
  font-size: 0.8em;
  padding-bottom: 5px;
  color: grey;
}

.target-capacity {
  width: 40%;
}

.target-savings {
  width: 30%;
  padding: 10px;
}

.target-savings-title {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  width: 100%;
  padding-bottom: 0.5em;
}

.target-savings-output-container {
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 10px;
}

.target-savings-output {
  width: 50%;
}

.target-savings-amount {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}

.target-savings-label {
  display: flex;
  font-size: 0.8em;
  color: grey;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.error-text {
  color: red;
  align-self: flex-start;
  padding: 1em 0;
}

/* Spinner animation CSS */
.lds-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid cornflowerblue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: cornflowerblue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
